<%- include('partials/header') %>

<div class="jumbotron">
  <div class="container home">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3"><b>R-Suite</b></h1>
    <h3 class="lead">Your Job. Our Responsibility.</h3>

    <p>Connecting Job Seekers with recruiters since 2021. The one stop solution for all your job searching problems!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
