<%- include('partials/header') %>
<div class="container centered home test">
    <h3> <%=text%> </h3>
    
    <a class="btn btn-dark btn-lg" href="/home" role="button">Back to Home</a>
</div>

    <%- include('partials/footer') %>