<%- include('../../partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <p> <%= organization %> </p> 
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Seeker's Home Page</h1>
    <hr>

    <a class="btn btn-dark btn-lg" href="/profile" role="button">View Profile</a>
    <a class="btn btn-dark btn-lg" href="/profile_edit" role="button">Update Profile</a>
    <a class="btn btn-dark btn-lg" href="/view_all_jobs" role="button">View Job Postings</a>
    <a class="btn btn-dark btn-lg" href="/view_my_applied_jobs" role="button">View My Applied Jobs</a>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('../../partials/footer') %>