<%- include('../../partials/header') %>
<div class="wrap"> 
<div class="jumbotron text-center">
  <div class="container">
    <h3> <%= organization %> </h3> 
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Recruiter's Home Page</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente,
       doloremque reprehenderit assumenda eius iusto at? Perferendis eum
      laudantium officiis architecto! Officiis repellat fugiat amet esse, 
      dolor cupiditate. Officia, voluptatum aliquam.</p>
    <a class="btn btn-dark btn-lg" href="/profile" role="button">View Profile</a>
    <a class="btn btn-dark btn-lg" href="/create_job" role="button">Create New Job</a>
    <a class="btn btn-dark btn-lg" href="/view_my_postings" role="button">View my Postings</a>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>
</div>
<%- include('../../partials/footer') %>