<%- include('../../partials/header') %>
<div class="wrap"> 
<div class="jumbotron text-center">
  <div class="container">
    <h3> <%= organization %> </h3> 
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3">Recruiter's Home Page</h1>
    <hr>
    <p>Welcome to R-Suite! As a premium recruiter, we help you find the best and most suited employees and you nolonger have to go through the hastle of contacting each individual candidate. Backed by integrated ma </p>
    <ul class="buttons">
      <!--<a class="b btn btn-dark btn-lg" href="/profile" role="button">View Profile</a>-->
      <a class="b btn btn-dark btn-lg" href="/create_job" role="button">Create New Job</a>
      <a class="b btn btn-dark btn-lg" href="/view_my_postings" role="button">View my Postings</a>
      <a class="b btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </ul>
  </div>
</div>
</div>
<%- include('../../partials/footer') %>
