<%- include('../../partials/header') %>

    <div class="jumbotron text-center">
        <div class="container">
            <p>
                <%= organization %>
            </p>
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">Recruiter's Home Page</h1>
            <hr>
            <a class="btn btn-dark btn-lg" href="/profile" role="button">View Profile</a>
            <a class="btn btn-dark btn-lg" href="/create_job" role="button">Create New Job</a>
            <a class="btn btn-dark btn-lg" href="/view_my_postings" role="button">View my Postings</a>
            <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        </div>
    </div>

    <%- include('../../partials/footer') %>