<%- include('../../partials/header') %>
<div class="wrap">
<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Fill Interview Details</h1>
    
    

    <form method="POST" action="/send_interview_invites">
        <div class="form-group">
            <label for="name">Date and Time</label>
            <input type="datetime-local" class="form-control" name="date">
          </div>
          <div class="form-group">
            <label for="email">Interviewer's Email</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="form-group">
              <label for="experience">Additional Details</label>
              <textarea class="form-control" name="details"></textarea>
          </div>
          <input type="hidden" name="jobId" value="<%= jobId%>">
        <button type="submit" class="btn btn-primary" name="applicant" value = "<%= applicant %>" >Send Interview Details via Google Calendar</button>
    </form>
    <br>
        
    <hr>
    <a class="btn btn-dark btn-lg" href="/create_job" role="button">Create New Job</a>
    <a class="btn btn-light btn-lg" href="/home" role="button">Back To Home</a>
  </div>
</div>
</div>
<%- include('../../partials/footer') %>