<%- include('../../partials/header') %>

    <p>The Score of the applicant for the mcq test is:
        <%= score%>
    </p>
    <p>
        The Score of the applicant for the coding test is:
        <%= codingscore%>
    </p>
    <a class="btn btn-dark btn-lg" href="/view_my_postings" role="button">Back</a>
    <%- include('../../partials/footer') %>