<%- include('../../partials/header') %>
<div class="container centered home test">
    <h3>The Score of the applicant for the mcq test is:
        <%= score%>
    </h3>
    <h3>
        The Score of the applicant for the coding test is:
        <%= codingscore%>
    </h3>
    <a class="btn btn-dark btn-lg" href="/view_my_postings" role="button">Back</a>
</div>

    <%- include('../../partials/footer') %>