<%- include('../../partials/header') %>

    <p>The Score of the applicant for the mcq test is:
        <%= score%>
    </p>
    <p>
        The Score of the applicant for the coding test is:
        <%= codingscore%>
    </p>

    <%- include('../../partials/footer') %>